
-- Dumping data for table mc_pm_maintenance.transct_log: ~26 rows (approximately)
INSERT INTO `transct_log` (`id`, `id_transct`, `id_sheet`, `id_area`, `aktual`, `judge`, `id_tindakan`, `id_hasil`, `judge_h`, `keterangan`, `pic`, `up_npk`, `up_date`, `up_note`, `sysdate`) VALUES
	( 24, 1, NULL, 0, 'NG', 1, 1, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 2, NULL, 4, 'OK', 0, 0, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 3, NULL, 0, 'NG', 1, 1, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 4, NULL, 0.5, 'OK', 0, 0, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 5, NULL, 0, 'OK', 0, 0, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 6, NULL, 0, 'OK', 0, 0, '', '', '130034', NULL, NULL, NULL, '2023-12-10 08:41:25'),
	( 24, 7, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 8, NULL, 0, 'NG', 2, 1, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 9, NULL, 0.01, 'NG', 2, 0.01, 'OK', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 10, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 11, NULL, 7, 'NG', 1, 0.01, 'OK', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 12, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 13, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:21'),
	( 24, 26, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:13:48'),
	( 24, 14, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:02'),
	( 24, 15, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:02'),
	( 24, 16, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:02'),
	( 24, 17, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:02'),
	( 24, 18, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:02'),
	( 24, 19, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 20, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 21, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 22, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 23, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 24, NULL, 0, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14'),
	( 24, 25, NULL, 5, 'OK', 0, 0, '', '', '101381', NULL, NULL, NULL, '2023-12-11 09:14:14');

/*!40103 SET TIME_ZONE=IFNULL(@OLD_TIME_ZONE, 'system') */;
/*!40101 SET SQL_MODE=IFNULL(@OLD_SQL_MODE, '') */;
/*!40014 SET FOREIGN_KEY_CHECKS=IFNULL(@OLD_FOREIGN_KEY_CHECKS, 1) */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40111 SET SQL_NOTES=IFNULL(@OLD_SQL_NOTES, 1) */;
